.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.on-off-button,
.photo-button {
  display: block;
  position: absolute;
  right: 20px;
  padding: 4px 6px;
  background-color: red;
  font-size: 16px;
  color: white;
  border: 0;
}

.on-off-button {
  top: 20px;
}

.photo-button {
  top: 60px;
}

.photo {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 200px;
  max-height: 200px;
}

.resolution {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: black;
  text-shadow: 0 0 2px white;
}
